<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmar dados</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #F0F0F0;
        }

        .container {
            width: 400px;
            height: 300px;
            background-color: #FFFFFF;
            border: 2px solid #000000;
            border-radius: 10px;
            padding: 0px;
            text-align: left;
        }

        .json-area {
            width: 50vh;
            height: 33vh;
            margin: 0px auto;
            border: 1px solid #CCC;
            padding: 0px;
            font-family: monospace;
        }

        .submit-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            align-items: center;
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <div class="container">

        <form action="/registrarItem:<% objetoFormulario %>" method="GET">
            <pre class="json-area" id="jsonData">
                <strong>nome:</strong><%= objetoFormulario.nome %><br>
                <strong>descrição:</strong> <%= objetoFormulario.descricao %><br>
                <strong>marca:</strong> <%= objetoFormulario.marca %><br>
                <strong>categoria:</strong> <%= objetoFormulario.categoria %><br>
                <strong>curso:</strong><%= objetoFormulario.curso %><br>
                <strong>periodo:</strong> <%= objetoFormulario.periodo %><br>
                <strong>cor:</strong> <%= objetoFormulario.cor %><br>
                <strong>local:</strong> <%= objetoFormulario.local %><br>
                <button id="submit" onclick="submeter(true)" class="submit-button">Enviar</button>
                <button id="cancelar" onclick="submeter(false)">Cancelar</button>
            </pre>
        </form>

    </div>
</body>
</html>
