<!DOCTYPE html>
<!-- Página de Formulário exclusivamente para testes de conexão com o banco de dados --> 
<!-- ESSA PÁGINA NÃO SERÁ UTILIZADA NA VERSÃO FINAL--> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= i18next.t('titulo')  %></title>
    <style>
        body {
            font-family: sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
        }

        label {
            margin-bottom: 5px;
        }

        input, textarea {
            padding: 8px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        /* Estilos para os botões de idioma */
        .botoes-idioma {
        position: fixed; /* Posiciona os botões no canto da tela */
        top: 20px; /* Ajusta a distância do topo da tela */
        right: 20px; /* Ajusta a distância da direita da tela */
        display: flex; /* Organiza os botões em linha */
        gap: 10px; /* Espaço entre os botões */
        }

        .botao-idioma {
        background-color: #ccc; /* Cor de fundo dos botões */
        border: none; /* Remove a borda padrão */
        padding: 10px 15px; /* Ajuste o espaçamento interno dos botões */
        cursor: pointer; /* Exibe o cursor como ponteiro ao passar o mouse */
        font-size: 14px; /* Tamanho da fonte do texto nos botões */
        text-decoration: none; /* Remove a decoração de texto */
        color: #000; /* Cor do texto nos botões */
        }

        .botao-idioma:hover { /* Estilos para hover nos botões */
        background-color: #aaa; /* Cor de fundo ao passar o mouse */
        }

    </style>
</head>
<body>
    <div class="botoes-idioma">
        <a href="/formularioPerda/en">
          <button class="botao-idioma">EN</button>
        </a>
        <a href="/formularioPerda/zh">
          <button class="botao-idioma">CN</button>
        </a>
        <a href="/formularioPerda">
          <button class="botao-idioma">BR</button>
        </a>
      </div>

    <h1><%= i18next.t('titulo')  %></h1>

        <form action="/confirmar" method="POST" onsubmit="return confirm('Tem certeza que deseja enviar o formulário?');">
        <label for="nome"><%= i18next.t('nome')  %></label>
        <input type="text" id="nome" name="nome" required>

        <label for="tituloItem"><%= i18next.t('item')  %></label>
        <input type=tituloItem" id="tituloItem" name="tituloItem" required>

        <label for="email"><%= i18next.t('email')  %></label>
        <input type="email" id="email" name="email" required>

        <label for="descricao"><%= i18next.t('descricao')  %></label>
        <textarea id="descricao" name="descricao" rows="5" required></textarea>

        <label for="marca"><%= i18next.t('marcaItem')  %></label>
        <input type="marca" id="marca" name="marca" required>

        <label for="categoria"><%= i18next.t('tipoObjeto')  %></label>
        <input type="categoria" id="categoria" name="categoria" required>

        <label for="curso"><%= i18next.t('curso')  %></label>
        <input type="curso" id="curso" name="curso" required>

        <label for="periodo"><%= i18next.t('periodo')  %></label>
        <select id="periodo" name="periodo" required>
            <optgroup label="">
                <option value="matutino"><%= i18next.t('matutino')  %></option>
                <option value="vespertino"><%= i18next.t('vespertino')  %></option>
                <option value="noturno"><%= i18next.t('noturno')  %></option>
            </optgroup>
        </select>

        <label for="cor"><%= i18next.t('cor')  %></label>
        <input type="cor" id="cor" name="cor" required>

        <label for="local"><%= i18next.t('localPerda')  %></label>
        <input type="local" id="local" name="local" required>

        <label for="dataPerda"><%= i18next.t('data')  %></label>
        <input type= "date" id="dataPerda" name="dataPerda" required>

        <button type="submit"><%= i18next.t('enviar')  %></button>
        </form>
        
</body>
</html>
