<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #c7bfbf;
            color: #fff;
            padding: 10px;
            text-align: right;
        }

        header button:hover {
            background-color: #45a049;
        }

        .container {
            padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        <form action="/admin/users/create" method="GET">
            <button type="submit">Cadastrar Admin</button>
        </form>
    </header>

    <h1>Listagem de Administradores </h1><br>
    <% users.forEach(user=> { %>

        Nome: <%= user.dataValues.nome %><br />
            Email: <%= user.dataValues.email %><br />
                Cargo:<%= user.dataValues.cargo %><br />
                    Turno: <%= user.dataValues.turno %><br />
                        Ativo: <%= user.dataValues.f_status %><br />
                        <a href="/admin/users/edit/<%= user.id %>">Editar</button></a>
                            <a href="/admin/users/delete/<%= user.id %>">Deletar</button></a><br><br>
                            <% }); %>
</body>

</html>
